div#slidebg {
    display: none;
}
div#topbar {
    display: none;
}

div.framewrap, div.bg {
    background: none;
    border: none;
}

.slide.transitionable {
    background: none!important;
}

#slideframe {

}

html,body {
    background: none!important;
}
.controlbar-button {
    background : -moz-linear-gradient(50% 0% -90deg, rgb(102, 187, 204) 5.32%, rgb(102, 187, 204) 100%)!important;
    background : -webkit-linear-gradient(-90deg, rgb(102, 187, 204) 5.32%, rgb(102, 187, 204) 100%)!important;
    background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.0532, rgb(102, 187, 204)),color-stop(1, rgb(102, 187, 204)))!important;
    background : -o-linear-gradient(-90deg, rgb(102, 187, 204) 5.32%, rgb(102, 187, 204) 100%)!important;
    background : -ms-linear-gradient(-90deg, rgb(102, 187, 204) 5.32%, rgb(102, 187, 204) 100%)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81C5FF', endColorstr='#5F92BC' ,GradientType=0)"!important;
    background : linear-gradient(180deg, rgb(102, 187, 204) 5.32%, rgb(102, 187, 204) 100%)!important;
    padding: 6px 9px 5px 10px!important;
    border-radius : 0!important;
    -moz-border-radius : 0!important;
    -webkit-border-radius : 0!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81C5FF',endColorstr='#5F92BC' , GradientType=0)!important;
    color: white !important;
    font-family: "Lato", sans-serif!important;
    font-weight: normal!important;
    border: none !important;
}
.controlbar-button a{
    color: rgba(255,255,255,1)!important;
    text-shadow: none!important;
}
.controlbar-button .label {
    color: rgba(255,255,255,1)!important;
    text-shadow: none!important;
    font-family: inherit!important;
    font-weight: inherit!important;
    letter-spacing: 1px;
}
.label.finish {
    display: none;
}
.label.newFinish {
    position: relative;
    left: 8px;
}