<div id="grundlagen" class="chapters"><div class="chapterTitle">
        <h3>Grundlagen</h3>
        <hr>
    </div><div class="content-block"><p><span style="text-decoration: underline;">Anatomie</span><br>Zu den Glandulae salivariae majores gehören die Glandula parotis, submandibularis und sublingualis.</p>
<div class="startGallery imageContainer" data-gallery-item="1"><img src="thumbs/Speicheldruesen2.png" alt="" width="262" height="147"></div>
<p><br><strong>Glandula parotis</strong></p>
<p>Die Glandula parotis ist die größte der paarigen Mundspeicheldrüsen. Sie liegt vor dem Ohr, auf dem M. masseter und dem Unterkiefer. Der Hauptanteil der Drüse liegt in der Fossa retromandibularis. Sie wird wie folgt begrenzt:</p>
<ul>
<li>anterior: M. masseter</li>
<li>posterior: Tragus</li>
<li>kranial: Jochbein und Jochbogen</li>
<li>kaudal: Processus mastoideus und Vorderrand M. sternocleidomastoideus</li>
</ul>
<p>Die Ohrspeicheldrüse wird von der Fascia parotidea umhüllt, welche eine Fortsetzung der Fascia cervicalis superficialis ist. Der Hauptstamm N. facialis tritt durch die Drüse aus. Dabei teilen die Äste des Nervs die Parotis anatomisch und therapeutisch in einen lateralen (<strong>Pars superficialis</strong>) und medialen (<strong>Pars profunda</strong>) Anteil.</p>
<p>Die Glandula Parotis ist eine <strong>rein seröse Drüse</strong>. Sie wird über die&nbsp; A. transversa faciei aus A. temporalis superficialis versorgt. <br><br>o <strong>Ducutus parotideus/Stenonscher-Gang</strong>:</p>
<ul>
<li>abgeplatteter, dickwandiger Kanal</li>
<li>1 cm unterhalb des Jochbogens</li>
<li>Über lat. Fläche des M. masseter
<ul>
<li>Biegt vor Vorderrand des M. masseter medianwärts um</li>
</ul>
</li>
<li>Tritt durch Corpus adiposum buccae/ BICHATscher Fettpropf hindurch zur Wangenschleimhaut</li>
<li>Mündung gegenüber dem 2. OK-Molaren in der Papilla parotidea</li>
</ul>
<p>o Sekretorische Innervation:</p>
<ul>
<li>Vom N. glossopharyngeus über N. tympanicus zum Plexus tympanicus und von dort über N. petrosus minor zum Ganglion oticum</li>
<li>Anlagerung parasympathischer Fasern an N. auriculotemporalis aus N. trigeminus und dadurch zur Parotis</li>
</ul>
<p>o Sympathische Innervation:</p>
<ul>
<li>Über periarterielles Geflecht aus dem Grenzstrang</li>
<li>Umschaltung der Nervenfasern organfern im Ggl. cervicale superius</li>
</ul>
<p>&nbsp;</p>
<p><strong>Glandula submandibularis</strong><br>Die Glandula submandibularis ist länglich bis kugelig, ca. pflaumengroß. Sie liegt im Trigonum submandibulare auf M. mylohyoideus, M. hyoglossus und M. styloglossus. Sie ist eingebettet zwischen dem vorderen und hinteren Digastricusbauch. Außerdem ist sie bedeckt vom Platysma sowie der Fascia cervicalis superficialis. Diese bildet eine fibröse Kapsel um Drüse. Die Glandula submandibularis ist eine gemischte Drüse mit mehr serösen als mukösen Anteilen. Die Blutversorgung erfolgt über die A. facialis.</p>
<p><br>o <strong>Ductus submandibularis/Warthon’scher Gang</strong>:</p>
<ul>
<li>Schlingt sich um Hinterrand M. mylohyoideus (sog. „Knie“)</li>
<li>Verläuft oberhalb des Diaphragma oris nach vorn</li>
<li>Mündet neben Frenulum linguae in Papilla salivaria (Caruncula sublingualis)</li>
<li>überkreuzt N. lingualis</li>
</ul>
<p>o Sekretorische Innervation:</p>
<ul>
<li>Von N. intermedius des N. facialis über Chorda tympani zum N. lingualis und Umschaltung im Ganglion submandibulare</li>
</ul>
<p>o Sympathische Innervation:</p>
<ul>
<li>Über periarterielles Geflecht aus dem Grenzstrang</li>
<li>Umschaltung der Nervenfasern organfern im Ggl. cervicale superius</li>
</ul>
<p>&nbsp;</p>
<p><strong>Glandula sublingualis</strong><br>Die Glandula sublingualis ist die kleinste der drei großen Speicheldrüsen. Ihr Drüsenkröper bildert sich aus mehreren, locker zusammenhängenden Einzeldrüsen. Sie liegt in einer Einbuchtung des Unterkiefers (Fovea sublingualis) zwischen M. mylohyoideus und M. hyoglossus auf dem Diaphragma oris. Außerdem liegt sie unmittelbar unter der Schleimhaut. Sie imponiert bei hochgehobener Zunge als Plica sublingualis.<br>Die Glandula sublingualis besitzt einen vorderen und hinteren Anteil. Das Sekret des hinteren Drüsenanteils mündet in zahlreichen kurzen Gängen (<strong>Ductus sublinguales minores</strong>) neben der Zunge (Plica sublingualis). Das Sekret des vorderen Anteils fließt über <strong>Ductus sublingualis major</strong> zur Caruncula sublingualis. Sie ist eine gemischte Drüse mit <strong>mehr mukösen als serösen Anteilen.</strong></p>
<p>o Sekretorische Innervation:</p>
<ul>
<li>Parasympathische Innervation durch Äste aus Ggl. submandibulare (wie Gl. submandibularis)</li>
</ul>
<p>o Sympathische Innervation:</p>
<ul>
<li>Über periarterielles Geflecht aus dem Grenzstrang</li>
<li>Umschaltung der Nervenfasern organfern im Ggl. cervicale superius</li>
</ul>
<p>Die visköse Zusammensetzung des Speichels der Gl. submandibularis und sublingualis, im Gegensatz zur Gl. parotis, prädisponiert zur Entstehung von Speichelsteinen (Sialolithiasis).</p>
<p><br>Zu den <strong>Glandulae salivariae minores</strong> gehören folgende Speicheldrüsen:</p>
<ul>
<li>Gll. Labiales</li>
<li>Gll. Palatinae</li>
<li>Gll. Buccales</li>
<li>Gll. Linguales und Ebner’sche Spüldrüsen</li>
<li>Weber’sche Spüldrüsen (oberer Tonsillenpol)</li>
<li>Gll. Molares</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Physiologie</span></p>
<p>Täglich werden von den Speicheldrüsen insgesamt ca. 500 bis 1500 ml Speichel produziert. Davon werden etwa 75% von der Gl. submandibularis, 20% von der Gl. parotis und 5% Gl. sublingualis sezerniert. <br>Die Speichelproduktion ist beeinflussbar durch:</p>
<ul>
<li>Hormone</li>
<li>Medikamente</li>
<li>Infektionen</li>
<li>Bestrahlung</li>
<li>Syndrome</li>
</ul>
<p><br>Der Speichel hat folgende Funktionen:</p>
<ul>
<li>Verdauung
<ul>
<li>Spaltung von Polyglykosiden durch alpha-Amylase</li>
</ul>
</li>
<li>Puffer
<ul>
<li>hoher HCO3-Gehalt</li>
</ul>
</li>
<li>Emulgation
<ul>
<li>hoher Muzin-Gehalt</li>
</ul>
</li>
<li>Antibakterielle Wirkung
<ul>
<li>durch Lysozyme, sekretorisches IgA, Lactoferrin, alpha-Amylase</li>
</ul>
</li>
<li>Schutz der Mukosa vor physikalischen, chemischen und thermischen Noxen</li>
<li>Förderung der Geschmacksempfindung</li>
<li>Xerostomie (Mundtrockenheit) führt zu Schluckstörungen. Bei fehlendem oder überwiegend serösem Speichel kann es zu mangelndem Prothesenhalt oder frühzeitiger Zerstörung von Füllungen kommen</li>
</ul></div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/speicheldruesen.png">
            <div class="media-link-title">Speicheldrüsen</div>
            <div class="media-link-description"></div>
        </div>
    </div></div><div id="diagnostik" class="chapters"><div class="chapterTitle">
        <h3>Diagnostik</h3>
        <hr>
    </div><div class="content-block"><p><span style="text-decoration: underline;">Sorgfältige Anamnese:</span></p>
        <ul>
            <li>Alter
                <ul>
                    <li>Drüsenschwellung bei Säuglingen vor allem bei
                        <ul>
                            <li>Zytomegalie</li>
                            <li>Hämangiome</li>
                            <li>Tumoren</li>
                            <li>Fehlentwicklungen des Speichelgangsystems</li>
                        </ul>
                    </li>
                    <li>im Klein- und Schulkindalter
                        <ul>
                            <li>Viruserkrenkungen (Parotitis epidemica bzw. Mumps)</li>
                        </ul>
                    </li>
                    <li>40.-60. Lebensjahr
                        <ul>
                            <li>Sialadenosen</li>
                            <li>Tumoren</li>
                            <li>Autoimmunerkrankungen (Bsp.: Sjörgen-Syndrom)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Geschlecht
                <ul>
                    <li>Frauen
                        <ul>
                            <li>Sjörgen-Syndrom</li>
                            <li>Sialadenosen</li>
                            <li>Adeno-Karzinom</li>
                        </ul>
                    </li>
                    <li>Männer
                        <ul>
                            <li>Zystadenolymphome</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Zeitliches Auftreten
                <ul>
                    <li>Schwellungen kurz vor oder während der Nahrungsaufnahme
                        <ul>
                            <li>Pathognomisch für das Vorhandensein von Speichelsteinen v.a. Gl. submandibularis)</li>
                        </ul>
                    </li>
                    <li>Rezidivierende Schwellungen ohne Zusammenhang zum Essen
                        <ul>
                            <li>Häufig bei chronischen Entzündungen</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Umfang der Beschwerden</li>
        </ul>
        <p>&nbsp;</p>
        <p><span style="text-decoration: underline;">Inspektion</span></p>
        <ul>
            <li>Extraoral
                <ul>
                    <li>Schwellung (abstehendes Ohrläppchen bei Mumps)</li>
                    <li>Rötung und Schmerzen (akute Entzündung)</li>
                    <li>Umschriebene Verdickung
                        <ul>
                            <li>Einseitig bei Neoplasie</li>
                            <li>Beidseitig bei Sialadenosen</li>
                        </ul>
                    </li>
                    <li>Bei Ausfall oder Schwäche N. facialis
                        <ul>
                            <li>Bösartiger Tumor der Gl. parotis</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Intraoral
                <ul>
                    <li>Beurteilung des Speichelflusses und der Ausführungsgänge
                        <ul>
                            <li>Eitrig, teilweise flockiger Speichel bei bakteriellen Entzündungen</li>
                        </ul>
                    </li>
                    <li>Größe, Konsistenz und Speichelqualität im Seitenvergleich</li>
                    <li>mit Finger von intraoral und Gegenpalpation von außen sind Gl. parotis und submandibularis
                        deutlich zu tasten
                        <ul>
                            <li>dadurch Abgrenzung von tumorösen Veränderungen</li>
                        </ul>
                    </li>
                    <li>Trockene Mundschleimhäute Hinweise auf generalisierte Speichelflussstörungen, z.B. radiogen oder
                        medikamentös
                    </li>
                    <li>bei Abflussstörungen kleiner Speicheldrüsen Hinweis auf submuköse Speichelretention (Ranula)
                    </li>
                    <li>schmerzhaftes Anheben des Mundbodens /gerötete Papillen bei Entzündungen der Gl.
                        submandibularis/sublingualis
                    </li>
                </ul>
            </li>
        </ul>
        <p>&nbsp;</p>
        <p><span style="text-decoration: underline;">Bildgebende Verfahren</span></p>
        <ul>
            <li>Sonographie
                <ul>
                    <li>Linearschallkopf bei Frequenz zwischen 5-10 MHz</li>
                    <li>Abgrenzung zystische vs. solide Prozesse</li>
                    <li>Darstellung von Speichelsteinenen</li>
                    <li>Hinweis auf Dignität von tumorösen Veränderungen</li>
                    <li>keine Strahlenbelastung, non invasiv, keine Kontraindikationen subjektiv</li>
                    <li>Typische Befunde:
                        <ul>
                            <li>maligne Tumoren häufig besser durchblutet als benigne -&gt; Prävalenz verhält sich
                                reziprok zur Drüsengröße
                            </li>
                            <li>Entzündungen als echoarme, inhomogene Drüsenvergrößerungen -&gt; chronische
                                Entrzündungen der Drüsen weniger Schwellung, aber sehr inhomogen
                            </li>
                            <li>Küttner-Tumor: Sonderform als chronisch sklerosierende Sialadentitis der Gl.
                                submandibularis
                            </li>
                            <li>Speichelsteine als echodichte Strukturen mit entsprechendem Schallschatten, häufig mit
                                hirschgeweihartiger, tubulärer Verzweigung
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Röntgen
                <ul>
                    <li>konventionell
                        <ul>
                            <li>reduzierte Bedeutung</li>
                            <li>in mehreren Ebenen Darstellung von raioopaken Speichelsteinen mittels OPT und
                                Mundbodenaufnahme
                            </li>
                            <li>Cave: 20% der Speichelsteine nciht röntgenopak bzw. Überlagerung durch Unterkiefer</li>
                        </ul>
                    </li>
                    <li>Sialaographie
                        <ul>
                            <li>Schieben eines Polyethylenkatheters in LA in Drüsenausfürhungsgangs und Fixation mit
                                Annaht
                            </li>
                            <li>durch Injektion von Kontrastmittel Darstellung von Veränderungen des Drüsenparenchyms
                            </li>
                            <li>Hauptindikation: Diagnostik von chronischen Entzündungen und Sjörgen-Syndrom</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>CT
                <ul>
                    <li>exakte Lokalisation von Speicheldrüsentumoren in allen 3 Ebenen, mit und ohne Kontrastmittel
                    </li>
                    <li>Hauptindikation: Darstellung von organüberschreitenden, den Knochen infiltrierenden Tumoren der
                        tiefen und retromandibulären Anteile der Gl. parotis
                    </li>
                </ul>
            </li>
            <li>MRT
                <ul>
                    <li>keine Strahlenbelastung</li>
                    <li>gute Weichteilauflösung</li>
                    <li>Hauptindikation:
                        <ul>
                            <li>Abgrenzung Speicheldrüsenerkrankungen von anderen Tumoren (wie Hämangiom,
                                Gefäßmalformationen, Lymphangiome und der Mischformen)
                            </li>
                            <li>wenn mittels Sonographie keine entsprechende Diagnostik oder Lokalisation möglich ist
                            </li>
                            <li>wenn CT nicht möglich ist (z.B. Schwangerschaft, Kontrastmittelunverträglichkeit,
                                Zahnartefakte)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Szintigraphie
                <ul>
                    <li>I.v.-Injektion von 99m-Technetiumpertechnat</li>
                    <li>Aussage über Funktionszusatnd der Drüse</li>
                    <li>im Seitenvergleich hohe Sensitivität für die Funktionseinschätzung</li>
                    <li>geringe Spezifität</li>
                </ul>
            </li>
            <li>Angiographie
                <ul>
                    <li>Invasive Darstellungstechnik von Gefäßstrukturen mit Hilfe von Kontrastmittel in und um große
                        Speicheldrüsen
                    </li>
                    <li>Hauptindikation: weitere Differenzierung von großen Tumoren und Gefäßnaomalien</li>
                </ul>
            </li>
        </ul>
        <p>&nbsp;</p>
        <p><span style="text-decoration: underline;">Biopsie</span></p>
        <ul>
            <li>Feinnadelaspirationsbiopsie
                <ul>
                    <li>erlaubt nur zytologische Beurteilung</li>
                    <li>aufgrund geringer Materialmenge gernige Aussagekraft</li>
                    <li>nur positive Aussagen verwertbar</li>
                    <li>kann zu Optimierung der Punktion sonographisch unterstützt werden</li>
                </ul>
            </li>
            <li>Probeexzision, Stanzbiopsie
                <ul>
                    <li>möglichst durch den endgültigen Therapeuten</li>
                    <li>bei Zweifel an Gutartigkeit weiteres chirurgisches Vorgehen nach Schnellschnittuntersuchung</li>
                </ul>
            </li>
            <li>Alle aufgeführten bildgebenden Verfahren können allenfalls Hinweise auf die Diagnose geben, Sicherheit
                gibt nur die biotische Sicherung mit histologischer Untersuchung.
            </li>
        </ul>
    </div><div class="links"></div></div><div id="fehlbildungen" class="chapters"><div class="chapterTitle">
        <h3>Fehlbildungen</h3>
        <hr>
    </div><div class="content-block"><p><strong>Aplasie und Hypoplasie</strong> der Speicheldrüsen tritt sehr selten auf. In
        der Regel ist sie ohne klinische Symptomatik, das heißt es tritt klinisch keine Xerostomie auf. Am häufigsten
        ist die einseitige Parotisaplasie. Treten A- und Hypoplasien auf, sind sie meist mit weiteren Fehlbildungen mit
        Kopf-Hals-Bereich assoziiert.</p>
        <p><strong>Hyperplasien</strong> sind ebenfalls eher selten. Tritt sie im Bereich der Lippendrüse auf wird sie
            Chelititis glandularis simplex.</p>
        <p><strong>Gangatresien</strong> treten bei regulär angelegte Speicheldrüsen auf. In der Regel entsteht ein
            Speichelstau mit Zystenbildung. Am häufigsten treten Gangatresien in der Gl. submandibularis auf.</p>
        <p><strong>Lageanomalie</strong></p>
        <ul>
            <li>Dystrophie oder heterotrophe akzessorische und aberrierende Speicheldrüsen</li>
            <li>in latenten Knochenhöhlen, z.B: im posterioren lingualen Bereich des Unterkiefers als sog.
                STAFNE-ZYste
            </li>
        </ul>
        <p><strong>Retentionszyten</strong> tretten infolge einer Abflussbehinderung der Drüsenausführungsgänge, wie zum
            Beispiel durch Schleimpröpfe oder Narbenzüge, auf.</p>


        <div class="startGallery imageContainer" data-gallery-item="1"><img src="thumbs/retentionszyste.png" alt="">
        </div>


        <p><strong>Extravasationszyste</strong></p>
        <ul>
            <li>infolge traumatischer oder entzündlicher Gangobstruktion tritt Speichel ins Drüseninterstititum
                (Ranula)
            </li>
            <li>Ätiologie: angeboren (dann dysgenetische Zyste) oder durch Obliteration eioner der kleinen
                Ausführungsgänge der Gl. sublingualis
            </li>
            <li>Symptome und Befunde:
                <ul>
                    <li>bläulich durch schimmernd</li>
                    <li>pralle Schwellung</li>
                    <li>Flüssigkeit enthalten</li>
                    <li>sichtbar bei Anheben der Zungenspitze</li>
                    <li>Therapie: Marsupilisation (Zyste wird durch einen ovalen Schnitt mit einem Skalpell eröffnet und
                        die Ränder der Zyste werden an einen andere Struktur oder ein anderes Organ so angenäht, dass
                        sich eine offene Tasche bildet) -&gt; Ranula wird zur Nebenbucht der Mundhöhle (häufig
                        rezidivierende) oder Zystektomie
                    </li>
                </ul>
            </li>
        </ul>
        <p><strong>Unterlippenfistel </strong>haben in der tiefe Beziehung zu Speicheldrüsenkonglomeraten. Sie können
            ein- oder doppelseitig auftreten. Meistens liegen sie paramedian. In Kombination mit Gaumenspalten werden
            sie als <strong>Van-der-Woude Syndrom</strong> (kraniofaziale Erkankung, Grübchen/Sinus der Unterlippe und
            Lippen- und/oder Gaumenspalten; häufigste syndromale Form der Lippen- und Gaumenspalte; Prävalenz 1:60000)
            bezeichnet.</p></div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/retentionszyste.png">
            <div class="media-link-title">Retentionszyste</div>
            <div class="media-link-description">Retentionszyste im Bereich des vorderen Mundbodens.</div>
        </div>
    </div></div><div id="sialadenitis" class="chapters"><div class="chapterTitle">
        <h3>Sialadenitis</h3>
        <hr>
    </div><div class="content-block"><p>Als Sialadenitis wird eine <strong>Entzündung der Speicheldrüsen</strong> bezeichnet</p>
<p>Es gibt unterschiedliche Formen:</p>
<p><span style="text-decoration: underline;">Akute bakterielle Sialadenitis</span></p>
<ul>
<li>häufig bei älteren oder kachektischen Patienten</li>
<li>Ätiologie:
<ul>
<li>Duktogene Bakterieneinwanderung, häufig infolge gestörter oder verringerten Speichelflusses</li>
<li>meist Staphylokokken, Streptokokken der Serogruppe A und Anaerobier</li>
<li>Akute bakterielle Entzündung der Gl. submandibularis und sublingualis tritt meist bei Abflussstörungen (Speichelsteine, Narben, Drucke iens Tumors) auf</li>
<li>seltene hämatogene Infektion</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Schwellung und Schmerzhaftigkeit der Drüse bei eitriger Entzündung</li>
<li>Schwellung des Ausführungsgangs, Rötung der Papille, Austritt von Eiter aus der Papille bei Druck auf die Drüse</li>
<li>bei eitriger Einschmelzung Rötung der Haut, Fluktuation (Nachweis im Ultraschall-B-Scan) und Durchbruch nach außen oder in die Mundhöhle</li>
<li>Häufig reduzierter Allgemeinzustand, Fieber und Leukozytose</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Antibiotika, möglichst nach Antibiogramm, bevorzugt Penicilline</li>
<li>Antiphlogistka</li>
<li>Antipyretika</li>
<li>Speichelfluss anregen (Kaugummi kauen, Zitrone essen, Lutschen von sauren Drops, Cholinergika)</li>
<li>Ausreichende Flüssigkeitszufuhr, gute Mundhygiene und antiseptische Mundspülung</li>
<li>sanftes Ausmassieren der Drüse</li>
<li>bei Abszedierung entlastende Inzision</li>
</ul>
</li>
<li>Differentialdiagnose
<ul>
<li>Wangenabszess</li>
<li>Dentitio difficilis</li>
</ul>
</li>
<li>Vermeidung extraoraler Inzisionen, um Gefahr einer Speichelfistel vorzubeugen. Beachte Verlauf des N. facialis bei entlastenden Inzisionen der Gl. parotis und submandibularis</li>
</ul>
<div class="startGallery imageContainer" data-gallery-item="2"><img src="thumbs/parotitis.png" alt=""></div>
<p><span style="text-decoration: underline;">Akute virale Sialadenitis</span></p>
<ul>
<li>z.B. Parotitis epidemica (Mumps)</li>
<li>Ätiologie
<ul>
<li>Befall i.d.R. der Gl. parotis durch Paramyxovirus im Schulalter</li>
<li>Tröpfcheninfektion</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Inkubationszeit 18-21 Tage</li>
<li>Entzündliche, teigige Schwellung ohne Abszedierung</li>
<li>meist verzögert beide Ohrspeicheldrüsen betroffen</li>
<li>Hamsterbacken mit abstehenden Ohrläppchen</li>
<li>Schwellung und Temperaturerhöhung über 1-2 Wochen</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Symptomatisch (Antipyretikum, Antiphlogistikum)</li>
<li>aktive Schutzimpfung möglich</li>
<li>durch Infektion lebenslange Immunität</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Chronische Sialadentitis</span></p>
<ul>
<li>Ätiologie
<ul>
<li>Multifaktorielles Geschehen mit rezidivierenden abszendierenden bakteriellen Infekten</li>
<li>meist Gl. Parotis betroffen</li>
<li>entzündliche Überlagerung einer Sialadenose</li>
<li>Viruserkrankzungen</li>
<li>primäre Obstruktion durch Dyschelie (Störung der Sekretion und Veränderung der Zusammensetzung und Menge des Speichels, z.B. Mukoviszidose)</li>
<li>Allergien</li>
<li>Immunreaktionen</li>
<li>Auftreten im Erwachsenen- udn Kindesalter</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>mit beschwerdefreien Intervallen auftretend, Tage anhaltende, mäßig schmerzhafte Drüsenschwellung</li>
<li>Häufig Induration</li>
<li>Dyschelie, überschießende Aktivierung des intraglandulären Kallikreinsystems</li>
<li>flockiger Speichel mit Salzgeschmack</li>
<li>Sialographischer Nachweis perlschnurartiger Gangektasien ("belebter Baum") mit fortschreitender Schädigung des Drüsenparenchyms -&gt; Rarefizierung des Gangsystems ("entlebter Baum")</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Antiobiotika</li>
<li>Erhöhung des Speichelflusses</li>
<li>Proteasehemmer (Aprotinin)</li>
<li>bei häufigen Entzündungschüben: konservative Parotidektomie bu´zw. Submandibulektomie</li>
</ul>
</li>
<li>Differentialdiagnosen
<ul>
<li>Parotitis epidemica (Mumps)</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Spezifische Sialadenitiden</span></p>
<ul>
<li>Tuberkulose</li>
<li>Aktinomykose
<ul>
<li>Ätiologie
<ul>
<li>Infektion mit Actinomyces israeli</li>
<li>Diagnosenachweis meist durch mikrobiologischen Erregernachweis oder histologisch (Drusenbildung)</li>
</ul>
</li>
<li>Symoptome und Befunde
<ul>
<li>Bläulich-livide Hautveränderungen</li>
<li>chronisch brettharte Induration des Weichgewebes</li>
<li>Auftreten von Fisteln</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Abszessinszision</li>
<li>Antiobiotikatherapie (Mittel der Wahl: Penicillin)</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Strahlensialadenitis</span></p>
<ul>
<li>Bevorzugt an der stahlensensiblen Gl. parotis</li>
<li>Ätiologie:
<ul>
<li>Schädigungsumfang abhängig von Qualität, Dosis und Fraktionierung der Bestrahlung sowei Lager der Drüsen im Strahlenfeld</li>
<li>Funktionelle Störungen in den Speicheldrüsen durch Mukositis und Azinuszellschädigung sowie verminderte Speichelsekretion</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Strahlenschäden mit Hyposialie, Viskositätsänderungen des Speichels, Xerostomie und Soor</li>
<li>Verklebungen und Strikturen</li>
<li>Auftreten reversibel ab 15 Gy, irreversibel ab 40 Gy</li>
<li>Begünstigung bakterieller Infektionen</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Sympotomatisch mit synthetischem Speichel</li>
<li>Mundspülung mit Salbei</li>
<li>Antimykotika bei Mund-Soor</li>
</ul>
</li>
<li>Merke: Vor Straghlentherapie suffiziente Sanierung der Zähne. Nach Strahlentherapie jede chirugische Maßnahme unter suffizientem antibiotischem Schutz, da Gefahr einer Osteomyelitis und Osteoradionekrose besteht</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Immunsialadenitis</span></p>
<ul>
<li>z.B. Sjörgen-Syndrom (myoepitheliale Sialadenitis)</li>
<li>Ätiologie
<ul>
<li>durch Sicca-Komplex (trockener Mund, trockene Snyovia, trockene Augen) gekennzeichnet</li>
<li>Autoimmunerkrankung mit Nachweis der diagnoseleitenden entinukleären Antikröper SSA und SSB</li>
<li>V.a. Frauen mit peri- und postklimakterischen Alter</li>
<li>Fortschreitender Untergang des sekretorischen Drüsenparenchyms</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Primäres Sjörgen-Syndrom mit Trias aus schmerzloser Schwellung der Speicheldrüsen, Mundtrockenheit und Keratokonjunktiivitis sicca</li>
<li>Sekundäres Sjörgen-Syndrom bei zusätzlichen Bindegewebserkrankungen (rheumatoide Polyarthritis, progressiver Sklerodermie, systemischer Lupus erythematodes)</li>
</ul>
</li>
<li>Diagnose
<ul>
<li>Biopsie von Lippenschleimhaut mit kleinen Speicheldrüsen (lymphozytär-myoepitheliale Zellinseln als Ausdruck abgelaufener Antigen-Antikörper-Reaktionen)</li>
<li>Häufig Candida-Besiedlung</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Glukokortikoide und Immunsuppressiva</li>
<li>bei Xerostomie symptomatisch Speichelersatzlösung</li>
<li>Augentropfen</li>
<li>Falls vertretbar Absetzten von Diuretika, Antidepressiva, Antihypertensiva</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Epitheloidzellige Sialadenitis</span></p>
<ul>
<li>Heerfordt-Syndrom (Febris uveo-parotidea subchronica: Fieber, Entzündung der Aderhaut, doppelseitige Parotisschwellung; im Rahmen einer Sarkoidose)</li>
<li>Ätiologie
<ul>
<li>Sarkoidose der Speicheldrüsen</li>
<li>Besonders bei jüngeren Frauen</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Trias mit undulierenden Fieber, Uveitis und Speicheldrüsenschwellung</li>
<li>Biopsie mit Nachweis von Speicheldrüsenschwellung und nicht verkäsender Epitheloidzellgranulomen</li>
<li>kann zu Hirnnervenausfällen mit Fazialis- oder Rekurrenzparese führen</li>
</ul>
</li>
<li>Therapie
<ul>
<li>wie bei Immunsialadenitis</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;">Elektrolyt-Sialadenitis (Küttner-Tumor)</span></p>
<ul>
<li>Ätiologie
<ul>
<li>Primär obstruktiv, durch Sekretionsstörung ausgelöst</li>
<li>Fortschreitender Verlauf bis zur immunologischen Zerstörung der Gl. Submandibularis, seltender der Gl. Parotis</li>
</ul>
</li>
<li>Symptome und Befunde
<ul>
<li>Verhärtung und Vergrößerung der Gl. Submandibularis</li>
<li>Histologie: neben entzündlichen Infiltraten und Lymphfollikeln starke bindegewebegie Sklerose, teilweise Lipomatose mit Destruktion des Gangsystems</li>
</ul>
</li>
<li>Therapie
<ul>
<li>Submandibulektomie</li>
</ul>
</li>
</ul></div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/parotitis.png">
            <div class="media-link-title">Parotitis</div>
            <div class="media-link-description">Entzündung der rechten Speicheldrüse mit deutlicher Schwellung
                präauriculär.
            </div>
        </div>
    </div></div><div id="sialadenosen" class="chapters"><div class="chapterTitle">
        <h3>Sialadenosen</h3>
        <hr>
    </div><div class="content-block"><p>Sialadenosen sind definiert als <strong>Stoffwechselerkrankung</strong>, die durch <strong>Schädigungen vegetativer Nervenfasern</strong> der großen Speicheldrüsen entstehen.</p>
<p>Für die Entstehung gibt es folgende Ursachen:</p>
<ol>
<li>Endokrine Sialadenosen durch hormonelle Störungen infolge Diabetes mellitus, Keimdrüsenstörungen, Schwangerschaft, Klimakterium, Schilddrüsenfunktionsstörungen oder Erkrankungen der Nebennierenrinde</li>
<li>Dystrophisch-metabolische Sialadenosen bei Vitaminmangel, chronischem Proteinmangel (Fehlernährung, Dystrophie), Essstörungen (Anorexie, Bulimie) oder Alkoholismus mit Leberzirrhose bzw. Fettleber</li>
<li>Neurogene Sialadenose bei Dysfunktion des vegetativen Nervensystems</li>
<li>Medikamentöse Sialadenosen durch Psychopharmaka (trizyklische Antidepressiva, Tranquilizer (Benzodiazepinderivate), MAP-Hemmer, Lithiumsalze oder bestimmte Antihypertonika</li>
</ol>
<p><br>Sialadenosen weisen folgende Symptome und Befunde auf:</p>
<ul>
<li>rezidivierende, nicht-entzündliche, weiche, schmerzlose Schwellungen, insbesondere der Gl. parotis beidseits</li>
<li>„Hamsterartige“ Schwellungen häufig als primärer Konsultationsgrund des Patienten</li>
<li>mehrjähriger Verlauf führt häufig zu Hypo- bzw. Asialie</li>
<li>Sonographie (B-Scan): Homogene Vergrößerung des Drüsenparenchyms</li>
</ul>
<p><br>Falls eine Sialadenose vorliegt, sollte immer eine <strong>Behandlung des Grundleidens</strong> (Diabetes Mellitus, Hypertonus, Hepatopathie etc.) stattfinden. Bei starkem Leidensdruck des Patienten und unter strenger Indikationsstellung können die Speicheldrüsen chirurgisch entfernt werden. Bei Autoimmunopathien mit reduzierter Speichelproduktion können Immunsuppressiva verabreicht werden.</p></div><div class="links"></div></div><div id="sialolithiasis" class="chapters"><div class="chapterTitle">
        <h3>Sialolithiasis</h3>
        <hr>
    </div><div class="content-block"><p>Eine Sialolithiasis ist definiert als eine <strong>Konkrementbildung im
        Ausführungsgangsystem</strong> durch Dyschylie, wobei sich Kristallisationskeime zu Konkrement vergrößern. Knapp
        1% der Bevölkerung in Deutschland sind von dieser Erkrankung betroffen. Männer erkranken häufiger an einer
        Sialolithiasis als Frauen. Haupterkrankungsalter ist zwischen dem 30.-40. Lebensjahr.</p>
        <p><br>Zu <strong>80%</strong> ist die <strong>Glandula submandibularis</strong>, 15% die Glandula parotis und
            5% die Gl sublingualis betroffen. Ein mögliche Erklärung für diese Verteilung ist, dass das Sekret der
            Glandula submandibularis zähflüssiger, der Gang aszendierend und die Caruncula enger als bei Gl. parotis.
        </p>
        <p><br>Die Steine sind in der Regel aufgebaut aus <strong>Calziumphosphat oder Calciumcarbonat</strong>. Der
            Zentraler Stein besteht aus anorganischen Substanzen, insbesondere Carbonat-Apatit, Whitlokit und Brushit.
            Um diesen zentralen Stein bilden sich dann weitere organische und anorganische Schichten. Durchschnittlich
            schwankt der Durchmesser zwischen 0,1 und 30mm.</p>
        <p><br>Sialolithiden haben folgende Symptome und Befunde:</p>
        <ul>
            <li>Können lange asymptomatisch verlaufen</li>
            <li>anfangs <strong>prandial und /oder postprandial Schwellung</strong> der Drüse mit Spannungsgefühl,
                später im Verlauf bleibende Verdickung der Drüse
            </li>
            <li>durch sekundäre Entzündungen Symptome der chronischen Sialadenitis</li>
            <li>Speichelsteine im Ductus submandibularis (Wharton-Gang) oftmals bimanuell sublingual tastbar oder
                mittels Sondierung durch Speichelgangsonde nachweisbar
            </li>
        </ul>
        <p><br>Um die Diagnose zu sichern sollte ein OPT oder eine Mundbodenübersicht durchgeführt werden. Aufgrund der
            mineralogischer Zusammensetzung können 20% der Submandibularis- und 80% der Parotiskonkrement radiologisch
            nicht nachgewiesen werden. Unabhängig von der Zusammensetzung des Konkrements können mit der <strong>B-Scan-Sonographie</strong>
            Konkremente <strong>ab 2mm Durchmesser</strong> sicher nachgewiesen werden.</p>
        <p>&nbsp;</p>


        <div class="startGallery imageContainer" data-gallery-item="1"><img src="thumbs/speichelstein_images.png" alt=""></div>


        <p><br>Die Sialilithiasis wird wie folgt therapiert:</p>
        <ul>
            <li>Stoßwellen-Lithotripsie</li>
            <li>provokation Spontanabgang durch Sialogoga (sekretionsstimulierende Substanzen), Dilatation des
                Ausführungsganges, Ausmassieren des Drüsenganges
            </li>
            <li>bei Steinen im distalen Teil des Ausführungsganges Längsschlitzung (enoraler Zugang), dann
                Marsupialisation zur Prophylaxe narbiger Strikturen
            </li>
            <li>Exstirpation der Drüse von extraoral bei Steinen im proximalen Teil (unterhalb des M. mylohyoideus, Knie
                des Ductus submandibularis bzw. proximal des Masseterknicks) oder innerhalb der Drüse und
                rezidivierender chronischer Entzündung
            </li>
            <li>möglichst nach antibiotischer Vorbehandlung einer akuten Entzündung</li>
        </ul>
    </div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/sialolithiasis_(entwicklung_spiechelstein).png">
            <div class="media-link-title">Operative Entfernung eines Spiechelsteins</div>
            <div class="media-link-description">Operative Entwicklung des Speichelsteins im Bereich des Ausführungsgangs
                der Glandula submandibularis.
            </div>
        </div>
        <div data-media-id="2" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/speichelstein.png">
            <div class="media-link-title">Speichelstein</div>
            <div class="media-link-description">Speichelstein der Glandula submandibularis.</div>
        </div>
        <div data-media-id="3" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/sialolithiasis_(sondierung_ausf%C3%BCrhungsgang).png">
            <div class="media-link-title">Sondierung Wharton-Gang</div>
            <div class="media-link-description">Sondierung des Ausführungsgangs der Glandula submandibularis beim
                Vorliegen eines Speichelsteins.
            </div>
        </div>
    </div></div><div id="speicheldruesentumoren" class="chapters"><div class="chapterTitle">
        <h3>Speicheldrüsentumoren</h3>
        <hr>
    </div><div class="content-block"><p>Speicheldrüsentumoren können vom <strong>spezifischen Speicheldrüsenparenchym oder vom unspezifischen Stroma</strong> ausgehen. Etwa 90% der Tumoren gehen vom Epithel aus, die estlichen 10% sind nichtepitheliale Tumoren. Benigne Speicheldrüsentumoren sind häufiger als maligne Tumoren (Verhältnis 2:1).</p>
<p><br>In der folgende Tabelle ist das klinisches Verhalten der Tumoren im Vergleich zu einer Entzündung dargestellt:</p>
<table class="table table-bordered table-striped" style="font-weight: bold;">
<tbody>
<tr>
<td>Entzündung</td>
<td>Benigne Tumoren</td>
<td>Maligne Tumoren</td>
</tr>
<tr>
<td>
<p>- rasch zunehmende, schmerzhafte Schwellung</p>
<p>- Überwärmung und Rötung der Haut</p>
</td>
<td>
<p>- längere Vorgeschichte</p>
<p>- Schmerzlose Raumforderung ohne Entzündungszeichen</p>
</td>
<td>
<p>- wachsen meist schneller</p>
<p>- können durch Einwachsen in Nachbarstrukturen wie z.B. Nerven malignitätsverdächtige Symptome aufweisen -&gt; periphere Fazialisparesen pathognomisch für Parotis</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><br><strong>Benigne Tumoren</strong> werden wie folgt eingeteilt:</p>
<ul>
<li>Benigne epitheliale Tumoren
<ul>
<li>Pleomorphes Adenom (sog. Mischtumore)</li>
<li>Monomorphe Adenome
<ul>
<li>Zystadenolymphome (WARTHIN-Tumore)</li>
</ul>
</li>
<li>Weitere Adenome
<ul>
<li>Speichelgangadenom</li>
<li>Myoepitheliom</li>
<li>Basalzelladenom</li>
<li>Onkozytom</li>
</ul>
</li>
</ul>
</li>
<li>Benigne nicht-epitheliale Tumoren
<ul>
<li>Hämangiom</li>
<li>Lymphangiom</li>
</ul>
</li>
</ul>
<p><br><span style="text-decoration: underline;">Pleomorphe Adenome</span></p>
<p>Pleomorphe Adenome sind sogenannte <strong>Mischtumoren</strong>. Er ist mit 85% der häufigste Speicheldrüsentumor. Davon treten<strong> 85% in der Glandula parotis</strong>, 10% in kleinen Speicheldrüsen, 5% in Glandula submandibularis auf. Sie haben eine <strong>sehr geringe Rezidivgefahr</strong> und entwickeln sich nur in etwa 5% zu einem Karzinom.</p>
<p><br>Symptome und Befunde des pleomorphen Adenoms sind:</p>
<ul>
<li>langsam wachsend</li>
<li>Tumoren in der Gl. parotis können sich bis ins Spatium parapharyngeum (Hanteltumor, Eisbergtumor) ausdehnen</li>
<li>Änderung des Wachstumsverhaltens und /oder periphere Fazialisparese sind ein Hinweis auf Malignität</li>
<li>„Mischtumoren“ aufgrund Histologie mit buntem epithelialen Zellbild</li>
</ul>
<p><br>Ist die Glandula Parotis betroffen, sollte eine partielle- (laterale), subtotale oder totale<strong> Parotidektomie</strong> (konservative Parotidektomie unter Schonung des N. facialis) erfolgen. In der Gl. submandibularis und sublingualis reicht eine Exstirpation der gesamten Drüse aus. <br>Am Gaumen sollte eine Exzision inklusive bedeckender Schleimhaut stattfinden. Anschließend kann eine Tiefziehplatte eingebracht werden und die Wunde frei granulieren.&nbsp;</p>
<p>&nbsp;</p>
<p><br><span style="text-decoration: underline;">Hämangiom</span></p>
<p>Treten vor allem bei <strong>weiblichen Patienten</strong> im <strong>Säuglingsalter</strong> auf.</p>
<p><br>Symptome und Befunde des Hämangioms sind:</p>
<ul>
<li>Bedeckende dünne, kindliche Haut schimmert bläulich</li>
<li>im Gegensatz zu vaskulären Malformationen innerhalb der ersten Lebenswochen häufig rasches unvorhersehbares Wachstum</li>
<li>spontane Rückbildung innerhalb der ersten Lebensjahre häufig (Involution)</li>
</ul>
<p><br>Wenn klinisch kein Handlungsdruck besteht, sollte eine abwartende Haltung eingenommen werden. Besteht ein Handlungsdruck, so kann das Hämangiom mit einem <strong>Laser</strong> behandelt werden. Hier eignet sich insbesondere der Nd:Yag-Laser mit perkutaner (bare fibre) oder transkutaner Applikationstechnik. <br>Eine chirurgische Exzision sollte nur zum Einsatz kommen bei erfolgloser Lasertherapie, raschem Wachstum, Malignitätsverdacht oder bedeutender funktioneller Beeinträchtigung, wie zum Beispiel Bedrohung des Schluckakts, der Atmung und Läsion des N. facialis.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Maligne Tumoren</strong> werden wie folgt eingeteilt:</p>
<ul>
<li>Malgine epitheliale Tumoren
<ul>
<li>Adenoid-zystisches Karzinom (früher Zylindrom genannt)</li>
<li>Mukoepidermoidkarzinom</li>
<li>Azinuszellkarzinom</li>
<li>Adenokarzinom</li>
<li>Plattenepithelkarzinom</li>
<li>Karzinom im pleomorphen Adenom</li>
<li>Speichelgangkarzinome</li>
<li>Undifferenziertes Karzinom</li>
</ul>
</li>
<li>Malgine nicht-epitheliale Tumoren
<ul>
<li>Sarkome</li>
<li>Maligne Lymphome</li>
<li>Metastasen</li>
</ul>
</li>
</ul>
<p><br>Die Grundprinzipien der Therapie maligner Speicheldrüsentumoren sind wie folgt:</p>
<ul>
<li>Bei Karzinomen: radikale Parotidektomie, ggf. mit totaler Entfernung des N. facilais und Nervrekonstruktion, mindestens ipsilaterale LK-Ausräumung</li>
<li>Bei Sarkomen: radikal-chirurgische Resektion mit Sicherheitsabstand, ggf. Bestrahlung und/oder Chemotherapie</li>
<li>Besonderheiten:
<ul>
<li>Adenoid-zystische Karzinome mit typischer perineuraler und perivaskulärer Ausbreitung</li>
<li>Speichelgangskarzinom mit Metastasierung schlechte Prognose mit Versterben innerhalb der erst 3 Jahre</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<div class="startGallery imageContainer" data-gallery-item="11"><img src="thumbs/parotidektomie_images.png" alt=""></div>
<div class="startGallery" data-gallery-item="5"><img class="galleryPoster" src="thumbs/video15.png" alt="">
<p class="gallerieThumbDescription">Parotidektomie</p>
<img class="galleryPoster" src="thumbs/Poster_Parotidektomie.png" alt=""></div></div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/parotidektomie1.png">
            <div class="media-link-title">Parotidektomie</div>
            <div class="media-link-description">Eingezeichnete Schnittführung für eine laterale Parotidektomie.</div>
        </div>
        <div data-media-id="2" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/parotidektomie2.png">
            <div class="media-link-title">Parotidektomie</div>
            <div class="media-link-description">Präparation des Zugangs zur Glandula parotis.</div>
        </div>
        <div data-media-id="3" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/parotidektomie3.png">
            <div class="media-link-title">Parotidektomie</div>
            <div class="media-link-description">Vollständige laterale Parotidektomie mit Darstellung des N. facialis.
            </div>
        </div>
        <div data-media-id="4" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/parotidektomie4.png">
            <div class="media-link-title">Parotidektomie</div>
            <div class="media-link-description">Verschluss der Haut nach Parotidektomie.</div>
        </div>
        <div data-media-id="5" data-media-type="video">
            <div class="media-link-video-id">13</div>
            <div class="media-link-title">Parotidektomie</div>
            <div class="media-link-description">Video zu Parodektomie</div>
        </div>
    </div></div><div id="frey" class="chapters"><div class="chapterTitle">
        <h3>Frey-Syndrom</h3>
        <hr>
    </div><div class="content-block"><p>Das Frey-Syndrom wird auch bezeichnet als<strong> gustatroische Schwitzen</strong>
        oder als <strong>aurikulotemporales Syndrom</strong>.</p>
        <p>Es ist definiert als <strong>Fehlgeleitete Regeneration der parasympathischen sekretorischen
            Parotisnerven</strong>, die den sympathischen Fasern folgen und die Schweißdrüsen der Haut innervieren,
            sodass es auf gustatroische und mastikatorische Reize zu einer Hautrötung präaurikulär mit anschließender
            Schweißabsonderung kommt.</p>
        <p>Ursachen können sein:</p>
        <ul>
            <li>operativen Eingriffen (Parotidektomie, Neck dissection)</li>
            <li>Traumata (Unfall, Zangengeburt)</li>
            <li>Zentralnervöse Erkrankungen</li>
        </ul>
        <p>Symptome und Befunde</p>
        <ul>
            <li>Auf gustatorische und mastikatoprische Reize (Kauen, essen) zunächst Hautrötung durch Vasodilatation
                präaurikulär
            </li>
            <li>etwas zeitverzögert Schweiabsonderung im Wangenbereich</li>
        </ul>
        <p>Ist klinisch die Verdachtsdiagnose des Frey-Syndroms gestellt, kann diese durch <strong>Jod-Stärke-test nach
            Minor</strong> gesichert werden.</p>
        <p>Therapiert wird das Frey-Syndrom durch die Injektion von <strong>Botulinumtoxin A</strong> (3MU/cm²).</p>
        <p>&nbsp;</p>


        <div class="startGallery imageContainer" data-gallery-item="1"><img src="thumbs/frey_images.png" alt=""></div>


    </div><div class="links">
        <div data-media-id="1" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey1.png">
            <div class="media-link-title">Jod-Stärke-Test nach Minor</div>
            <div class="media-link-description">Auftragen der Jodlösung.</div>
        </div>
        <div data-media-id="2" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey3.png">
            <div class="media-link-title">Jof-Stärke-Test nach Minor</div>
            <div class="media-link-description">Auftragen des Stärkemehls.</div>
        </div>
        <div data-media-id="3" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey5.png">
            <div class="media-link-title">Jod-Stärke-Test nach Minor</div>
            <div class="media-link-description">Sekretagoge Stimulation durch Essen eines Apfels.</div>
        </div>
        <div data-media-id="4" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey6.png">
            <div class="media-link-title">Jod-Stärke-Test nach Minor</div>
            <div class="media-link-description">Farbliche Markierung des betroffenen Areals.</div>
        </div>
        <div data-media-id="5" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey7.png">
            <div class="media-link-title">Jod-Stärke-Test nach Minor</div>
            <div class="media-link-description">Markierung des Ausbreitungsgebiets mit einem Stift.</div>
        </div>
        <div data-media-id="6" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey8.png">
            <div class="media-link-title">Jod-Stärke-Test nach Minor</div>
            <div class="media-link-description">Säuberung des Areals von Jod und dem Stärkemehl.</div>
        </div>
        <div data-media-id="7" data-media-type="image">
            <div class="data-media-thumbnail"><img src="images/klinik.jpg"></div>
            <img src="images/frey10.png">
            <div class="media-link-title">Jod-Stärke-test nach Minor</div>
            <div class="media-link-description">Subkutane Injektion von Botulinumtoxin A im betroffen Hautareal.</div>
        </div>
    </div></div>