<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon shortcut" href="../angle/assets/images/favicons/favicon.ico">
    <title>Lokale Lappenplastiken Quiz</title>
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/mkg.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/hexagon.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/content.css" type="text/css" rel="stylesheet">
</head>
<!--<body oncontextmenu="return false;">-->
<body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="mainnav container">
        <div id="titleRow" class="navbar-header">
            <div class="dropdown">
                <a class="fa hexagon-xxs hexagon-info hexagon-hover" href="../angle/index.html#Themen">
                    <i class="fa fa-angle-left"></i>
                </a>

                <div class="dropdown-toggle" id="title" data-toggle="dropdown">
                    LOKALE LAPPENPLASTIKEN
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">BRONJ und Osteoradionekrosen</a></li>-->
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../dysgnathie/index.html">Dysgnathie</a>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../entzuendungen_abszesse/index.html">Entzündungen und Abszesse</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../gesichtshauttumoren/index.html">Gesichtshauttumoren</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../implantologie_und_epithetik/index.html">Implantologie und Epithetik</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../komplikationen/index.html">Komplikationen in der Zahnärztlichen Chirurgie</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../kraniosynostosen/index.html">Kraniosynostosen</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../lkg/index.html">LKG</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../lokale_lappenplastiken/index.html">Lokale Lappenplastiken</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../mikrochirurgie/index.html">Mikrochirurgie</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../mronj_und_orn/index.html">MRONJ & ORN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../nasennebenhoehlen/index.html">Nasennebenhöhlen</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../odontogene_tumoren/index.html">Odontogene Tumoren</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../praeprothetische_chirurgie_augmentation/index.html">Präprothetische Chirurgie und Augmentation</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../speicheldruesen/index.html">Speicheldrüsen</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../spezifische_infektionen/index.html">Spezifische Infektionen</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../trauma/index.html">Trauma</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../tumoren/index.html">Tumoren</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../zysten/index.html">Zysten</a></li>
                </ul>
            </div>
        </div>
        <div id="navRow" class="center-block navbar-right">
                <span id="leftNav" class="mkgNav"><p class="vertical-nav-pos"><a href="index.html">Grundlagen</a></p></span>
                <span id="middleNav" class="mkgNav"><p class="vertical-nav-pos"><a href="galerie.html">Galerie</a></p></span>
                <span id="rightNav" class="mkgNav active"><p class="vertical-nav-pos"><a href="#">Quiz</a></p></span>
                <span id="rightestNav" class="mkgNav"><p class="vertical-nav-pos"><a href="lernziele.html">Lernziele</a></p></span>
        </div>
    </div>
    </nav>
    <div class="decor-top">
        <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="background">
    <div id="quizContainer" class="container">
        <div class="row">
            <iframe frameborder="0" src="quiz/index.html"></iframe>
        </div>
        <div class="row">
            <div id="angleFooterRow" class="col-md-12">
            </div>
        </div>

        </div>
    </div>
    <div class="decor-bot">
        <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div id="mediaModal" class="modal fade">
        <div id="mediaModalDialog" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="mediaModalCloser" type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Voriges
                    </button>
                    <span class="modal-footer-center"><span class="modal-counter"></span>/<span class="modal-max"></span></span>
                    <button type="button" class="btn btn-primary pull-right next">
                        Nächstes
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/mkg.js" type="application/javascript"></script>
</body>
</html>