<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon shortcut" href="../angle/assets/images/favicons/favicon.ico">
    <title>Dysgnathie Quiz</title>
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/mkg.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/hexagon.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/content.css" type="text/css" rel="stylesheet">
</head>
<!--<body oncontextmenu="return false;">-->
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="mainnav container">
        <div id="titleRow" class="navbar-header">
            <div class="dropdown">
                <a class="fa hexagon-xxs hexagon-info hexagon-hover" href="../angle/index.html#Themen">
                    <i class="fa fa-angle-left"></i>
                </a>

                <div class="dropdown-toggle" id="title" data-toggle="dropdown">
                    DYSGNATHIE
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">BRONJ und Osteoradionekrosen</a></li>-->
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../dysgnathie/index.html">Dysgnathie</a>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../entzuendungen_abszesse/index.html">Entzündungen und Abszesse</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../gesichtshauttumoren/index.html">Gesichtshauttumoren</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../implantologie_und_epithetik/index.html">Implantologie und
                        Epithetik</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../komplikationen/index.html">Komplikationen
                        in der Zahnärztlichen Chirurgie</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../kraniosynostosen/index.html">Kraniosynostosen</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../lkg/index.html">LKG</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../lokale_lappenplastiken/index.html">Lokale Lappenplastiken</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../mikrochirurgie/index.html">Mikrochirurgie</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../mronj_und_orn/index.html">MRONJ &
                        ORN</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../nasennebenhoehlen/index.html">Nasennebenhöhlen</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../odontogene_tumoren/index.html">Odontogene
                        Tumoren</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../praeprothetische_chirurgie_augmentation/index.html">Präprothetische
                        Chirurgie und Augmentation</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../speicheldruesen/index.html">Speicheldrüsen</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                               href="../spezifische_infektionen/index.html">Spezifische Infektionen</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../trauma/index.html">Trauma</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../tumoren/index.html">Tumoren</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="../zysten/index.html">Zysten</a></li>
                </ul>
            </div>
        </div>
        <div id="navRow" class="center-block navbar-right">
            <span id="leftNav" class="mkgNav"><p class="vertical-nav-pos"><a href="index.html">Grundlagen</a></p></span>
            <span id="middleNav" class="mkgNav"><p class="vertical-nav-pos"><a
                    href="galerie.html">Galerie</a></p></span>
            <span id="rightNav" class="mkgNav active"><p class="vertical-nav-pos"><a href="#">Quiz</a></p></span>
            <span id="rightestNav" class="mkgNav"><p class="vertical-nav-pos"><a href="lernziele.html">Lernziele</a></p></span>
        </div>
    </div>
</nav>
<div class="decor-top">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L100 0 L100 100" stroke-width="0"></path>
    </svg>
</div>
<div class="background">
    <div id="quizContainer" class="container withNav">
        <div role="tabpanel" id="dys">
            <!-- Nav tabs -->
<!--            <div class="quiznav">
                <div class="navpoint" data-href="allgemein" on-click="clickMenu">Allgemein</div>
                <div class="navpoint" data-href="referenzlinien">Skelettale Referenzlinien</div>
                <div class="navpoint" data-href="skelettale_referenzpunkte">Skelletale Referenzpunkte (RP)</div>
                <div class="navpoint" data-href="referenzpunkte_weichgewebeanalyse">RP Weichgewebeanalyse</div>
            </div>-->


        <!--    <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="quizNav active"><a href="#allgemein" aria-controls="allgemein" role="tab"
                                                                  data-toggle="tab">Allgemein</a></li>
                <li role="presentation" class="quizNav"><a href="#referenzlinien" aria-controls="referenzlinien"
                                                           role="tab"
                                                           data-toggle="tab">Skelettale Referenzlinien</a></li>
                <li role="presentation" class="quizNav"><a href="#skelettale_referenzpunkte"
                                                           aria-controls="skelettale_referenzpunkte" role="tab"
                                                           data-toggle="tab">Skelletale Referenzpunkte (RP)</a></li>
                <li role="presentation" class="quizNav"><a href="#referenzpunkte_weichgewebeanalyse"
                                                           aria-controls="referenzpunkte_weichgewebeanalyse" role="tab"
                                                           data-toggle="tab">RP Weichgewebeanalyse</a></li>
            </ul>-->
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="allgemein">
                    <div class="row">
                        <iframe id="iframeAllgemein" frameborder="0" src="quiz/allgemein/index.html"></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="referenzlinien">
                    <div class="row">
                        <iframe id="iframeReferenzlinien" frameborder="0" src="quiz/referenzlinien/quizskelettale%20(Web)/index.html"></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="skelettale_referenzpunkte">
                    <div class="row">
                        <iframe id="iframeReferenzpunkte" frameborder="0" src="quiz/skelettale/quizskelettale%20(Web)/index.html"></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="referenzpunkte_weichgewebeanalyse">
                    <div class="row">
                        <iframe id="iframeWeichgewebeanalyse" frameborder="0"
                                src="quiz/weichgewebeanalyse/quizweich%20(Web)/index.html"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="angleFooterRow" class="col-md-12">
            </div>
        </div>
    </div>
</div>
<div class="decor-bot">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
    </svg>
</div>
<div id="mediaModal" class="modal fade">
    <div id="mediaModalDialog" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button id="mediaModalCloser" type="button" class="close" aria-hidden="true" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Voriges
                </button>
                <span class="modal-footer-center"><span class="modal-counter"></span>/<span
                        class="modal-max"></span></span>
                <button type="button" class="btn btn-primary pull-right next">
                    Nächstes
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-2.1.1.min.js" type="application/javascript"></script>
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<script src="js/mkg.js" type="application/javascript"></script>
</body>
</html>